.SearchContainer{
    align-self: center;
    margin-inline-start: auto;
    box-sizing: border-box;

    .inputContainer{
        padding: 10px;
        
        .inputBox{
            padding: inherit;
            border-radius: 5px;
            width: 100%;
        }
        .red{
            color:red;
        }
    }

    
}
@media screen and (max-width: 767px) {
    .SearchContainer{
        width: 100%;

    }
}