@import "~bootstrap/scss/bootstrap";
@import "./theme/themeDark";

body, html{
    background-color: #1f2e3c;
    min-height: 100vh;

    .transparentBtn{
        background-color: transparent;
        border: none;
        box-shadow: 1px 1px 5px grey;
        color: aliceblue;
    }
    .transparentBtn:hover{
        background-color: transparent;
        border: none;
        box-shadow: 1px 1px 10px grey;
        color: aliceblue;
    }
}